body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

img {
    max-width: 100%;
    height: auto;
}

h1 {

}

h2 {
    text-align: center;
}