/* NAVIGATION BAR */
/* Nav bar bg colour */
nav {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    border-radius: 0;
    padding: 1rem 2rem;
    margin: 0;
    box-shadow: 10px;
    position:sticky;

    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));

    top: 0;
    z-index: 1000;
}

/* LOGO (LEFT) */
.nav-logo {
    justify-self: start;
}

.nav-logo img {
    height: 3rem; 
    width: auto;
    max-width: none;
}

#hamburgerIcon {
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* LINKS (CENTER) */
.middle-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.mobile-nav-logo {
    display: none;
}

.middle-links a {
    color: black;
    text-decoration: none;
    padding: 2%;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px; /* Start with 0 width */
    transition: background-size 0.3s ease;
}

.middle-links a:hover {
    background-size: 100% 2px;
    transition: 0.6s;
}

/* ICONS (RIGHT) */
.right-icons {
    justify-self: end;
    display: flex;
    gap: 1rem;
}

.right-icons img {
    max-width: 30px;
}

@media (max-width: 700px) {
    /* LEFT */
    .nav-logo a {
        display: none;
    }

    #hamburgerIcon {
        display: block;
        height: 2rem; 
        width: auto;
        max-width: none;
    }
    
    /* MIDDLE */
    .desktop-ml {
        display: none;
    }

    .mobile-nav-logo {
        display: block;
        max-height: 80%; 
        width: 40%;
        max-width: none;
    }

    /* RIGHT */
    #nav-profile {
        display: none;
    }
}

/* OVERLAY (grey bg behind overlay) */
#navOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 998;
}

/* MOBILE OVERLAY */
#mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 13rem;
    height: 100vh;
    background: black;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 6.5rem;
    padding-left: 2rem;

    transform: translateX(-100%);
    transition: 0.3s ease;
    z-index: 999;
}

#mobileMenu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* DIFFERENT STATES FOR OVERLAY */
/* when hamburger is clicked */
#mobileMenu.active {
    transform: translateX(0);
}


#navOverlay.active {
    opacity: 1;
    pointer-events: all;
}

/* HAMB ANIMATION */
#hamburgerIcon.open {
    transform: rotate(90deg);
}

/* HERO IMG */
.hero-img {
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 96%;
    border: #415E39 solid 20px;

    border-radius: 20px;
    box-sizing: border-box;
    margin: 2%;

    justify-content: center;
    
}

#hero-img-index {
    background-image: url('kk-website-images/hero.png');
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-position: 30% center;
    text-align: right;
    height: 80vh;
}

.hero-content {
    padding: 2em;
    padding-right: 6em;
    max-width: 45%;
}


#hero-img-shop-list {
    background-image: url('kk-website-images/shop-hero-img.png');
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 50vh;
    border-bottom: white solid 10px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

#hero-img-shop-list {
    text-align: center;
    position: relative;
}

/* BUTTON ON HERO-IMG - Browse Shop */
.cta-btn {
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.cta-btn:hover {
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
}

#seeShop {
    margin-top: 0;
    min-width: 5em;
    max-width: 60%;
    background-color: black;
    color: white;
    padding: 2.5%;
    border-radius: 20px;
    font-size: 1em;

    transition: 0.2s;
}

#seeShop:hover {
    animation: arrow-wiggle 0.6s infinite alternate ease-in-out;
}

#jumpShop {
    padding: 8%;
    min-width: 3rem;
    min-height: 3rem;
    background-color: white;
    border-radius: 20px;
    align-content: center;
    text-decoration: none;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HEADINGS */
header {
    background-color: white;
    padding-bottom: 0.6%;
}

.heading-w-icons {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.heading-w-icons img {
    width: 3%;
    height: 6%;
    padding: 1rem;
}

/* mobiel */
@media (max-width: 800px) {
    .hero-content {
        padding: 2em;
        padding-right: 2.5em;
        max-width: 35%;
    }

    .hero-content h1 {
        font-size: 1.8em;
    }

    .hero-content h2 {
        font-size: 1.1em;
    }

    #seeShop {
        margin-top: 0;
        min-width: 8em;
        max-width: 80%;
        background-color: black;
        color: white;
        padding: 6%;
        border-radius: 20px;
        font-size: 0.9em;
    }
}


/* DIVIDERS */
.long-divider {
    background-color: white;
    max-width: 100%;
    padding: 1%;
    box-sizing: border-box;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
}

/* MARQUEES */
marquee {
    height: 2.5rem;
    color: white;
    background-color: black;
    margin-right: 0;
    margin-left: 0;
    align-content: center;
    overflow: hidden;
}

marquee div {
    display: flex;
    gap: 3rem;
    width: max-content;
}

marquee p {
    font-size: 0.8rem;
    animation: scroll 10s linear infinite;
}

/* BENEATH HERO IMG */
#beneath-hero {
    background-image: linear-gradient(to bottom, white, rgb(209, 223, 210));
    margin: 0;
    padding: 2% 0;
}

/* PREVIEW SHOP */
.preview-shop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-content: center;
    gap: 5rem;
    padding: 2% 10%;
}

/* desktop */
@media (max-width: 1100px) {
    .preview-shop {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* mobiel */
@media (max-width: 800px) {
    .preview-shop {
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }
    #beneath-hero h5, #beneath-hero h1 {
        margin-bottom: 2%;
        margin-top: 0;
    }

    #beneath-hero h5 {
        margin-top: 2%;
    }
    
}

/* CARDS */
/* product card img (to put button on top) */
.product-card-img {
    background-repeat: no-repeat;
    background-size: cover;

    color: white;

    width: 100%;
    max-width: 380px;
    aspect-ratio: 380 / 350;

    padding: 7%;
    border-radius: 5px;
    border: 5px solid;
    box-sizing: border-box;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    transition: 0.3s;
}

.product-card-img:hover {
    transform: scale(1.02);
    box-shadow: 5px;
}



/* INDIVIDUAL CARDS */ 
#product-card-img-1 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), 
    transparent), url(kk-website-images/klassic-SML.png);
}

#product-card-img-2 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), 
    transparent), url(kk-website-images/standard-small.png);
}

#product-card-img-3 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), 
    transparent), url(kk-website-images/standard-medium-front.png);
}

#product-card-img-4 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), 
    transparent), url(kk-website-images/standard-large-front.png);
}


/*BUTTON ON INDIVIDUAL CARDS */
.product-card-img a {
    background-color: white;
    height: fit-content;
    color: black;
    padding: 3% 6%;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.2s;
}

.product-card-img a:hover {
    animation: arrow-wiggle 0.6s infinite alternate ease-in-out;
}

@keyframes arrow-wiggle {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(5px);
    }
}

/* TEXT IN THE CARDS */
.product-card-img article h3 {
    font-size: 1rem;
    text-align: left;
    margin: 0;
    height: fit-content;
}

.product-card-img article h4 {
    font-size: 0.8rem;
    text-align: left;
    font-weight: 400;
    margin: 0;
    height: fit-content;
}


/* UNIQUE SELLING POINTS */
.usps {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    margin: 5% 20%;

}

.usp-info img {
    border: solid white 20px;
    background-color: white;
    border-radius: 100px;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

    width: 60px;
    height: 60px;
}

.usp-info {
    background-color: white;
    text-align: center;

    border-radius: 5px;

    position: relative;
    padding: 2% 4% 2% 2rem;
}



/* CART OVERLAY */
#add-to-cart {
    border: none;
    font-size: 2em;
    background-color: #415E39;
    padding: 5%;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-size: medium;
}

#cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 25vw;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 3%;
    z-index: 1000;
    overflow: auto;
    transition: 0.15s;
}



#cart-overlay.open-cart {
    visibility: visible;
}

@media (max-width: 700px) {
    #cart-overlay {
        width: 75vw;
    }
}

/* CART ITEMS */
.cart-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.cart-item img {
    width: 40%;
    height: 60%;
    padding: 1rem;
}

/* Cart beside */
.cart-beside h3 {
    font-size: 1em;
    text-align: left;
}

.cart-beside h4 {
    text-align: left;

}

#quantity-buttons {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    gap: 1.5em;
    align-items: center;
    background-color: #f5f5f5;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    border-radius: 10px;
}

#quantity-buttons button {
    border: none;
    font-size: 2em;
    background-color: #f5f5f5;
}



/* FOOTER */
footer {
    background-color: black;
    color: white;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0;
    gap: 3.5em;
    font-size: 11px;
    height: 10rem;
}

/* FOOTER LOGO */
footer img {
    height: 3rem; 
    width: auto;
    max-width: none;
}

/* LINKS (CENTER) */
.footer-flex-middle {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.footer-middle-links {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    flex-direction: column;
}

.footer-middle-links a {
    color: white;
    text-decoration: none;
}

/* ACKNOWLEDGEMENT (right) */
footer p {
    width: 20%;
}

@media (max-width: 700px) {
    footer {
        justify-content: center;
        gap: 4.5rem;
        padding: 0.5rem 0.7rem;
    }

    footer p {
        max-width: 100%;
        overflow-wrap: break-word;
    }
}