#shop-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 4rem;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;

}



/* PRODUCT CARD */

.product-card {
    border: 1px ;
    border-color: black;
    border-radius: 5px;
    padding: 0em;
    align-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
    height: fit-content;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: 0.5s ;
    
}

.product-card:hover {
    transform: scale(1.02);
    box-shadow: 5px;
    
}

.product-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2.5;
    border-radius: 5px 5px 0 0;
}

/* Product Name */
.product-card h3 {
    font-size: 1.5em;
    margin: 3%;
}

/* Product Price */
.product-card h4 {
    font-size: 1em;
    margin: 3%;
}

/* Add to Cart Button */
.product-card button {
    background-color: black;
    color: white;
    width: 40%;
    height: 3em;
    border-radius: 10px;
    margin-bottom: 3%;
    border: none;
    cursor: pointer;
}

/* When the screen width is 800px or less

@media screen {max-width: 800px;
    #shop-grid {
        grid-template-columns: 1fr;
    }
}

*/