/* PATH LINKS (TOP) */

#shortcut-links {
    list-style-type: none;
    padding-inline-start: 0;
}

#shortcut-links li {
    float: left;
    padding: 2%;
}

/* MAIN FLEX - ASIDE AND SECTION */
main {
    display: flex;
    margin: 5%;
    gap: 10%;
    justify-content: center;
}

/* LEFT */
aside {
    display: flex;
    flex-direction: column;
    gap: 2%;

}

/* RIGHT */
section {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

section h2 {
    text-align: left;
    margin: 0;
}

section h3 {
    text-align: left;
    margin: 0;
    font-weight: 400;
}

section h5 {
    
    text-align: left;
    margin: 0;
    align-content: center;
}

.paypal-img {
    min-width: 2em;
    max-width: 5em;
    padding: 2%;
    padding-bottom: 0;
}

/* QUANTITY BUTTONS */

#quantity-buttons {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    gap: 1.5em;
    align-items: center;
    background-color: #f5f5f5;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    border-radius: 10px;
}

#quantity-buttons button {
    border: none;
    font-size: 2em;
    background-color: #f5f5f5;
}


/* ADD TO CART BUTTON */

.add-to-cart {
    border: none;
    font-size: 2em;
    background-color: #415E39;
    padding: 5%;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-size: medium;
}
