/* PATH LINKS (TOP) */

#shortcut-links {
    list-style-type: none;
    padding-inline-start: 0;
}

#shortcut-links li {
    float: left;
    padding: 2%;
}

/* MAIN FLEX - ASIDE AND SECTION */
main {
    display: flex;
    margin: 5%;
    gap: 10%;
    justify-content: center;
}

/* LEFT */
aside {
    display: flex;
    flex-direction: column;
    gap: 2%;

}

/* RIGHT */
section {
    display: flex;
    flex-direction: column;
    gap: 2%;
    margin-bottom: 10%;
}

section h2 {
    text-align: left;
    margin: 0;
}

section h3 {
    text-align: left;
    margin: 0;
    font-weight: 400;
}

section h5 {
    
    text-align: left;
    margin: 0;
    align-content: center;
}

section p {
    text-align: center;
    margin-bottom: 0;
}

.paypal-img {
    min-width: 2em;
    max-width: 5em;
    padding: 2%;
    padding-bottom: 0;
}

/* ADD TO CART BUTTON */
.add-to-cart {
    border: none;
    font-size: 2em;
    background-color: #415E39;
    padding: 5%;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-size: medium;
    margin: 5%;
    transition: 0.3s;
}

.add-to-cart:hover {
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

