body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {

}

h2 {
    text-align: center;
}

/* Nav bar bg colour */
nav {
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 0 0 20px 20px;
    padding: 1em;
}

/* Nav links */
/* LOGO (LEFT) */
.nav-logo {
    margin-left: auto;
}

.nav-logo img {
    max-width: 30%;
}


/* LINKS (MIDDLE) */
.middle-links a {
    color: white;
    text-decoration: none;
    padding: 2rem;
}

/* ICONS (RIGHT) */
.right-icons {
    margin-right: auto;
}

.right-icons img {
    max-width: 10%;
    
}

/* BANNER */


/* ARTICLES */


/* HEADINGS */
.heading-w-icons {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.heading-w-icons img {
    width: 3%;
    height: 6%;
    padding: 1rem;
}

/* HOME PAGE - WHY CHOOSE KUSTOM KENNELS? */
/* SELLING POINTS (IMAGES) */
.three-cs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

.three-cs img {
    max-width: 20%;
    border-radius: 20px;
    padding: 2rem;
    margin: 1rem;
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), transparent),
        url("KK Website Images/comfortable.png");
    background-size: cover;
    background-position: center;
}


/* Footer */
footer {
    background-color: black;
    border-radius: 20px 20px 0 0;
}